

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    height: 100vh;
    background-color: rgba(200, 255, 0, 0.705);
    color: rgb(0, 0, 0);
   
    background-repeat: no-repeat;
    
}
h1{
    background-color: rgba(255, 136, 0, 0.562);
    padding: 1vw;
    color: rgb(0, 0, 0);
    text-align: center ;
 }   
h2{
   text-align:center;
   color: red;
} 

pre{ 
    text-align: center; text-align:justify;
}
img{
   border-radius:15%;
   
}
p{
   background-color: rgba(255, 0, 0, 0.603);
   width: 8vw;
   border-radius: 5vw;
   text-align: center;
}


.cont{
    display: flex;
    width:100%;
    height: 60%;
    padding: 4% 1%;
    box-sizing: border-box;
}
.box{
    flex: 90;
    overflow:hidden;
    margin: 10px;
    line-height: 1;
    box-shadow: 0 20px 30px rgba(255, 166, 0, 0);
}
.box>img{
    width: 100%;
    height: calc(100% - 0vh);
    object-fit: cover;
}
.box>span{
    font-size: 0px;
    display: block;
    text-align: center;
    height: 0vh;
    line-height: 0;
}
.box:hover{
    flex: 30%;
}
.box:hover>img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
table {
    width: 50vw;
    text-align:center;
 }
 th, td {   
   text-align:left;
   border: 3px solid #000;
   padding: 0.1em;
   
 }

